<div class="row">
    <div class="col text-end">
        <a href="products/add-product" class="btn btn-secondary">Add product</a>
    </div>
</div>
<div class="row p-2" *ngIf="products">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="div" *ngIf="!products">
    <h6>No Data Found</h6>
</div>
